.sidebarWorkers:hover>h4{/* 
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
    background-color: white;

}

.sidebarWorkers >h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #222324;
    color: #7e7a7e;
    cursor: pointer;
}

.sidebarWorkers__hash{
    font-size: 15px;
    padding: 8px;
}